body 
{
	background-image: url("crestock-499633-2560x1600.jpg");
	background-size: 100%;
}

#gamesContainer  
{
	list-style-type: none; 
	margin: 0; 
	padding: 5px;
	margin: 10px 0; 
}

#gamesContainer li  
{
	margin: 3px; 
	padding: 3px; 
	display: inline-block; 
	width: 250px; 
	border: 2px solid black 
}

.centered
{
	text-align: center;
}
